*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --st1-color: #0c5c27;
    --st2-color: #0c6129;
    --st3-color: #0b9037;
    --st4-color: #0ba13d;
    --nd-color: #e0622f;
    --rd-color: #18171795;
    --bg-whiite: ##e4e4e7;
}
/* utilitaries classes */
a{
    text-decoration: none;
    color: #fff;
}
.txt-center{
    text-align: center;
}
.l-heading{
    color: white;
    font-size: 3rem;
}
.span-color{
    color: var(--nd-color);
}
.span-color-1{
    color: var(--st1-color-color);
}
.heading{
    text-align: center;
    font-size: 1.8rem;
    margin-top: 1rem;
}
h1{
    color: var(--st1-color);
}
.container{
    margin: auto;
    max-width: 1200px;
    padding: 2rem;
}
.to-form{
    background-image: radial-gradient(circle, var(--st1-color) 30%, var(--st4-color));
    padding: 1.5rem 2rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    margin-top: 3rem;
    text-align: center;
    border-radius: 5px;
    min-width: 300px;
}

.py-1{
    padding: 1rem 0;
}
.py-2{
    padding: 2rem 0;
}
.py-t-2{
    padding-top: 2rem;
}
.py-3{
    padding: 3rem 0;
}
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}
.color-1{
    color: var(--st1-color);
}
/* utilitaries classes */
/* header */
header{
    align-items: center;
    background: #0c5c27 url("https://s2.glbimg.com/iYvBzcO9tqnZUMlrv5FW5RgtAc0=/940x523/e.glbimg.com/og/ed/f/original/2019/10/30/nesa-by-makers-igur1ix0mqm-unsplash.jpg")
    no-repeat center center/cover;
    height: 90vh;

    animation-name: change-bg;
    animation-duration: 20s;
    /* animation-timing-function: ease-in-out; */
    animation-iteration-count: infinite;
}
header div .changing-title::before{
    content: " Voçê precisa de uma Assessoria Empresarial?";
    animation-name: changing-title;
    animation-duration: 20s;
    animation-fill-mode: ease-out;
    animation-iteration-count: infinite;
    transform: translateX(-900px);
}
@keyframes changing-title{
    30%{
        content: "Nós somos a ZAMBEZE SERVIÇOS & AGROINDÚSTRIA, a solução do seu problema.";
        transform: translateX(0);
    }
    60%{
        content: "Connosco voçê será capaz de desenvolver o seu negócio.";
    }
    100%{
        content: "Aproveite a oportunidade e candidate-se abaixo";
    }
}
@keyframes change-bg{
    30%{
        background: url("../images/man-thought.jpg") no-repeat center center/cover;
        /* kk */
    }
    60%{
        background: url("../images/woman-thought.jpg") no-repeat center center/cover;
    }
    100%{
        background: url("../images/man2-thought.jpg") no-repeat center center/cover;
    }
}
header div > h2{
    color: white;
    font-style: italic;
}
/* override */
header .showcase-content{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 90vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 10rem;
    /* background-color: rgba(0, 0, 200, 0.3); */
    background-color: rgba(0, 0, 0, 0.7);
    /* background-color: rgba(0, 255, 251, 0.3); */
}
.ask{
    /* color: red; */
    color: var(--nd-color);
    font-size: 4rem;
    font-weight: bolder;

}
/* .showcase-content .to-form{
    background-image: radial-gradient(circle, var(--st1-color) 30%, var(--st4-color));
    padding: 1.5rem 2rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    margin-top: 3rem;
    text-align: center;
    border-radius: 5px;
} */
.to-form:hover{
    background-image: linear-gradient(to right, var(--st4-color), var(--st3-color), var(--st1-color));
}

/* coming-soon */
#end-date .timer{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    justify-content: space-between;
    align-items: start;

}
.sub-timer{
    /* background-color: rgba(11, 76, 11, 0.5); */
    /* max-width: 50px; */
    border-bottom: 1px solid var(--st1-color);
    /* border-bottom: 1o; */
    overflow: hidden;
    margin: auto;
    padding: 1.4rem;
    width: 90px;
}
.digit{
    color: #000;
    /* font-size: 1.5rem; */
    font-weight: lighter;
    text-align: center;
    /* padding: 1rem; */
}
.digit-name{
    font-size: 1rem;
    color: #000;
    text-align: center;
    font-weight: lighter;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* padding: 0.6rem 0; */
}

/* candidates */
main{
    background-color: #e4e4e7;
    text-align: center;
}
main > P{
    font-size: 1.3rem;
    font-weight: 500;
}
main .items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.item{
    position: relative;
    /* margin-top: 5rem;; */
}
.img-item:hover{
    box-shadow: 0px 20px 20px var(--st3-color);
    transform: translateY(-6px);
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.item > img{
    display: block;
    /* border: 1px solid var(--nd-color); */
    border-radius: 10px;
    /* opacity: 1; */
}

.item-heading{
    position: absolute;
    /* top: -2rem; */
    /* left: 4rem; */
    color: #fff;
    font-weight: 3rem;
    background-color: rgba(11, 76, 11, 0.5);
    border-radius: 10px;
    padding: 1rem 2rem;
    text-align: center;
    min-width: 180px;
    margin: auto;
}
.item-count{
    position: absolute;
    top: 10rem;
    display: block;
    color: #fff;
    font-size: 1.2rem;
    background-color: rgba(11, 76, 11, 0.5);
    padding: 0.5rem 1rem;
    text-align: center;
    border-bottom: 3px solid var(--nd-color);
}

/* profile */
#profile{
    margin-top: 0em;
    /* background-color: #c75c31; */
}
#profile .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#profile .container h1:first-child{
    font-weight: 400;
    font-size: 1.4rem;
}
#profile .container h2 span{
    color: var(--st1-color);
}
.profile-list li{
    list-style: none;
    /* text-align: center; */
    line-height: 3rem;
    font-size: 1.1rem;
}
.profile-list li::before{
    content: "\2714";
    color: var(--st1-color);
    margin-inline: 5px;
    font-size: 1.2rem;
    font-weight: bolder;
}
#profile .container a{
    top: 70px;
    position: relative;


    background-image: linear-gradient(to right, var(--st1-color)30%, var(--st4-color));
    padding: 1.5rem 2rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    min-width: 300px;
}
#profile .container a:hover{
    /* background-image: linear-gradient(to right, var(--st4-color), var(--st3-color), var(--st1-color)); */
}

/* ----- */

/* sucess clients */
.clients-content {
    /* overflow: hidden; */
    padding: 2rem;
}
.slide-track {
    margin-top: 1rem;
    border-top: 1px solid var(--nd-color);
    border-bottom: 1px solid var(--nd-color);
    /* width: calc(250px * 20); */
    animation: scrol 90s linear infinite;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.slide-track:hover {
    animation-play-state: paused;
}
@keyframes scroll {
    0% {
        transform: translate3d(0);
    }
    100% {
      transform: translate(calc(-250px * 5));
    }
}
.slide-client {
    /* height: 120px; */
    width: 250px;
    display: flex;
    align-items: center;
    padding: 0.9rem;
    perspective: 100px;
} 

.slide-client img:hover, .slide-client a:hover {
    transition: transform 0.3s ease-out;
    transform: translateZ(20px);
    cursor: pointer;
}
.slide-client img {
    width: 150px;
    height: 120px;
    display: block;
    margin: auto;
    /* display: inline-block; */
  }

/* #advantage{
    
} */
#advantage .items-advantage{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    line-height: 1.5rem;
}
.item-advantage > div{
    margin: 1rem;
}
.advantage-list{
    display: none;
}
.advantage-item{
    list-style: none;
}
.advantage-item::before{
    content: "\2714";
    margin-inline: 5px;

}
/* DOUBTS */
.block{
    display: block;
}
#doubts{
    /* background-color: #e2f1e4ee; */
}
#doubts .contact-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#doubts .contact-list p{
    padding: 2rem;
    background-color: #0b9037ab;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}
#doubts .contact-list p:hover{
    background-color: #0c5c27;
    transition: all 0.2s ease-in;
}
h3{
    font-size: 1.1rem;
    text-align: center;
    padding: 0.8rem;
    color: var(--st1-color);
}
.fa-phone{
    font-size: 3rem;
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}

/* about */
#about{
    /* background: url("../images/logo-social-media.png") no-repeat; */
    background-color: var(--nd-color);
    background-color: #e4e4e7;
    background-size: cover;
}
.about-content{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.about-content div img{
    /* border-bottom: 1px solid; */
    border-image: linear-gradient(to right, 
    var(--st1-color) 60%, 
    var(--st2-color) 40%
    ) 30;
}
.about-content div:last-child{
    width: 600px;
    line-height: 1.5rem;
}
.about-content div:last-child h1{
    line-height: 2rem;
}
.about-content div:last-child span ~ span{
    font-size: 3rem;
}
.about-content div:last-child > p{
    margin-top: 1rem;
    color: #000;
    text-align: justify;
}

i{
    margin-left: 0.8rem;
}
a:hover:not(.social-pages a, .slide-client a){
    background-image: linear-gradient(to right, 
    var(--st4-color), 
    var(--st3-color), 
    var(--st1-color)
    );
}
.contact{
    position: absolute;
    position: fixed;
    bottom: 2rem;
    right: 0rem;
    z-index: 1;
}
.contact p{
    font-weight: bolder;
    color: red;
    font-size: 1.2rem;
    text-align: center;
}
.whatsapp-icon{
    display: block;
    color: var(--st1-color);
    animation-name: whatsapp-moving;
    animation-duration: 4s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
}
@keyframes whatsapp-moving{
    0%{
        color: var(--st1-color);
    }
    80%{
        color: var(--st1-color)
    }
    100%{
        color: #e0622f;
    }
}

/* footer */
footer{
    /* background-image: linear-gradient(to right, 
    var(--st4-color), 
    var(--st2-color)
    ); */
    background-color: white;
    color: var(--st1-color);
 }
 footer .container{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 footer .social-pages a{
    color: var(--st1-color)
 }
 footer .social-pages a:hover{
    color: var(--nd-color);
    transition: all 0.3s ease-in;
 }