*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --st1-color: #0c5c27;
    --st2-color: #0c6129;
    --st3-color: #0b9037;
    --st4-color: #0ba13d;
    --nd-color: #e0622f;
    --rd-color: #18171795;
}
/* utilitaries classes */
a{
    text-decoration: none;
    color: #fff;
}
.txt-center{
    text-align: center;
}
.l-heading{
    color: white;
    font-size: 3rem;
}
.span-color{
    color: var(--nd-color);
}
.heading{
    text-align: center;
    font-size: 1.8rem;
    margin-top: 1rem;
}
.container{
    margin: auto;
    max-width: 1200px;
    padding: 2rem;
}
.to-form{
    background-image: radial-gradient(circle, var(--st1-color) 30%, var(--st4-color));
    padding: 1.5rem 2rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    margin-top: 3rem;
    text-align: center;
    border-radius: 5px;
    min-width: 300px;
}

.py-1{
    padding: 1rem 0;
}
.py-2{
    padding: 2rem 0;
}
.py-t-2{
    padding-top: 2rem;
}
.py-3{
    padding: 3rem 0;
}
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}
.color-1{
    color: var(--st1-color);
}
/* utilitaries classes */
/* header */
header{
    align-items: center;
    background: #0c5c27 url("https://s2.glbimg.com/iYvBzcO9tqnZUMlrv5FW5RgtAc0=/940x523/e.glbimg.com/og/ed/f/original/2019/10/30/nesa-by-makers-igur1ix0mqm-unsplash.jpg")
    no-repeat center center/cover;
    height: 90vh;

    animation-name: change-bg;
    animation-duration: 20s;
    /* animation-timing-function: ease; */
    animation-iteration-count: infinite;
}
@keyframes change-bg{
    30%{
        background: url("../images/man-thought.jpg") no-repeat center center/cover;
    }
    60%{
        background: url("../images/woman-thought.jpg") no-repeat center center/cover;
    }
    100%{
        background: url("../images/man2-thought.jpg") no-repeat center center/cover;
    }
}
header div > h2{
    color: white;
    font-style: italic;
}
/* override */
header .showcase-content{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 90%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 10rem;
    /* background-color: rgba(0, 0, 200, 0.3); */
    background-color: rgba(0, 0, 0, 0.7);
    /* background-color: rgba(0, 255, 251, 0.3); */
}
.ask{
    /* color: red; */
    color: var(--nd-color);
    font-size: 7rem;
    font-weight: bolder;

}
/* .showcase-content .to-form{
    background-image: radial-gradient(circle, var(--st1-color) 30%, var(--st4-color));
    padding: 1.5rem 2rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    margin-top: 3rem;
    text-align: center;
    border-radius: 5px;
} */
.to-form:hover{
    background-image: linear-gradient(to right, var(--st4-color), var(--st3-color), var(--st1-color));
}

/* coming-soon */
#end-date .timer{
    margin: auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    justify-content: space-between;
    align-items: start;
    padding-inline: 0.8rem;

}
.sub-timer{
    background-color: var(--st3-color);
    width: 220px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    margin: auto;
}
.digit{
    color: #fff;
    font-size: 3rem;
    font-weight: lighter;
    text-align: center;
    padding: 2.5rem 0;
}
.digit-name{
    font-size: 1.7rem;
    color: #fff;
    text-align: center;
    font-weight: lighter;
    background-color: var(--st1-color);
    padding: 0.6rem 0;
}

/* candidates */
main{
    background-color: #e4e4e7;
    text-align: center;
}
main > P{
    font-size: 1.3rem;
    font-weight: 500;
}
main .items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.item{
    position: relative;
    /* margin-top: 5rem;; */
}
.img-item:hover{
    box-shadow: 0px 20px 20px var(--st3-color);
    transform: translateY(-6px);
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.item > img{
    display: block;
    border: 1px solid var(--nd-color);
    border-radius: 10px;
    /* opacity: 0.8; */
}

.item-heading{
    position: absolute;
    /* top: -2rem; */
    /* left: 4rem; */
    color: #fff;
    font-weight: 3rem;
    background-color: var(--st1-color);
    border-radius: 10px;
    padding: 1rem 2rem;
    text-align: center;
    min-width: 180px;
    margin: auto;
}
.item-count{
    position: absolute;
    top: 10rem;
    /* left: 7rem; */
    display: block;
    color: #fff;
    font-size: 1.2rem;
    background-color: var(--st1-color);
    /* border-radius: 50%; */
    /* width: 50px;
    height: 50px; */
    padding: 0.5rem 1rem;
    text-align: center;
    border-bottom: 3px solid var(--nd-color);
}

/* profile */
#profile{
    margin-top: 5rem;
    background-color: #c75c31;
}
#profile .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#profile .container h1, h2{
    color: white;
    font-weight: 500;
}
#profile .container h2 span{
    color: var(--st1-color);
}
.profile-list li{
    list-style: none;
    text-align: center;
    line-height: 3rem;
    font-size: 1.6rem;
    color: #fff;
}
.profile-list li::before{
    content: "\2714";
    color: var(--st1-color);
    margin-inline: 5px;
    font-size: 1.2rem;
    font-weight: bolder;
}
#profile .container a{
    top: 70px;
    position: relative;


    background-image: linear-gradient(to right, var(--st1-color)30%, var(--st4-color));
    padding: 1.5rem 2rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    min-width: 300px;
}
#profile .container a:hover{
    background-image: linear-gradient(to right, var(--st4-color), var(--st3-color), var(--st1-color));
}
/* #advantage{
    
} */
#advantage .items-advantage{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    line-height: 1.5rem;
}
#advantage .item-advantage:last-child{
    grid-column-start: 1;
    grid-column-end: 3;

}
.item-advantage > div{
    margin: 1rem;
}
.advantage-item{
    list-style: none;
}
.advantage-item::before{
    content: "\2714";
    margin-inline: 5px;

}

/* about */
#about{
    /* background: url("../images/logo-social-media.png") no-repeat; */
    background-color: var(--nd-color);
    background-size: cover;
}
.about-content{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 2rem;
    /* height: 70vh; */
}
.about-content div img{
    /* display: none; */
    border: 5px solid;
    border-image: linear-gradient(to right, 
    var(--st1-color) 60%, 
    var(--st2-color) 40%
    ) 30;
    /* box-shadow: -10px -8px 2px var(--nd-color); */
    /* border-top-right-radius: 50px;
    border-bottom-left-radius: 50px; */
}
.about-content div:last-child{
    width: 600px;
    line-height: 1.5rem;
}
.about-content div:last-child > p{
    margin-top: 1rem;
    color: #fff;
}

/* footer */
footer{
   background-image: linear-gradient(to right, 
   var(--st4-color), 
   var(--st2-color)
   );
   color: white;
}
footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
i{
    margin-left: 0.8rem;
}
a:hover{
    background-image: linear-gradient(to right, 
    var(--st4-color), 
    var(--st3-color), 
    var(--st1-color)
    );
}
.contact{
    position: absolute;
    position: fixed;
    bottom: 2rem;
    right: 0rem;
    z-index: 1;
}
.contact p{
    font-weight: bolder;
    color: red;
    font-size: 1.2rem;
    text-align: center;
}
.whatsapp-icon{
    display: block;
    color: var(--st1-color);
    animation-name: whatsapp-moving;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes whatsapp-moving{
    0%{
        color: var(--st1-color);
    }
    30%{
        color: var(--st2-color)
    }
    60%{
        color: var(--st3-color)
    }
    100%{
        color: red;
    }
}
