
.heading, h1, h2, h3, h4{
    font-size: 1.3rem;  
}
.ask{
    font-size: 2rem;
}
header .showcase-content{
    padding: 1rem;;
    text-align: center;
}

/* coming-soon */
#end-date .timer{
    max-width: 1200px;
    margin: auto;
    border: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    gap: 1rem;
}
.sub-timer{
    /* padding: 1.4rem; */
    /* width: 90px; */
    max-width: 50px;
    padding: 0.2rem 0;
}
.digit{

}
.digit-name{
    font-size: 1rem;

}
/* candidates */

main .items{
    grid-template-columns: repeat(1, 1fr);
}

.item > img{
    margin: auto;
    width: 100%;
} 


/* profile */
#profile .container h1{
    font-size: 1.5rem;
}
.profile-list li{
    font-size: 1.2rem;
    line-height: 1.8rem;
}

/* link: it is for me? */
#profile .container a{
    top: 70px;
    display: inline-block;
    /* left: 25px; */
}

/* advantage */
#advantage .items-advantage{
    display: grid;
    grid-template-columns: repeat(1, 100%);
   
}
#advantage .container h1 span span .ask{
    font-size: 4rem;
}
.item-advantage > div{
    margin: 3rem;
}

/* clients */
.slide-track {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-inline: auto;
}
.clients-content h1{
    text-align: left;
    font-size: 1.4rem;
}
/* about */
.about-content{
    flex-direction: column;
}
.about-content h1{
    line-height: 2.8rem;
}
.about-content div img{
    display: block;
    margin: auto;
   width: 100%;
   height: 100%;
}
.about-content div:last-child{
    width: 100%;
    text-align: center;
}

/* footer */
footer .container{
    flex-direction: column;
    gap: 1.4rem;
}
.social-pages a i{
    width: 15px;
    margin-inline: 1rem;
}