header .showcase-content{
    padding: 1rem;;
    text-align: center;
    height: 90vh;
}
.ask{
    /* color: red; */
    color: var(--nd-color);
    font-size: 4rem;
    font-weight: bolder;

}

/* coming-soon */
.sub-timer{
    grid-template-columns: repeat(4, 1fr);
    width: 150px;
    height: 150px;
}
.digit{
    font-size: 2rem;
    /* padding: 0.7rem 0; */
}
.digit-name{
    font-size: 1rem;
}

/* candidates */

main .items{
    grid-template-columns: repeat(2, 1fr); 
}
main p{
    padding: 1rem;
}

.item > img{
    margin: auto;
    width: 100%;
} 




/* profile */
#profile .container h1{
    font-size: 1.5rem;
}
.profile-list li{
    font-size: 1.2rem;
    line-height: 1.8rem;
}

/* link: it is for me? */
#profile .container a{
    /* top: 70px;
    left: 25px;
    width: 100%; */
    display: block;
    margin: auto;
}

/* advantage */
#advantage .items-advantage{
    /* display: grid; */
    grid-template-columns: repeat(1, 100%);
    gap: 2rem;
    line-height: 1.5rem;
}


/* about */
.about-content{
    flex-direction: column;
}
.about-content h1{
    line-height: 2.8rem;
}
.about-content div img{
    display: block;
    margin: auto;
   width: 50%;
   height: 50%;
}
.about-content div:last-child{
    width: 100%;
    text-align: center;
}

/* footer */

.social-pages a i{
    width: 15px;
    /* margin-inline: 1rem; */
}